/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.asteroid {
  background-image: url('./Transparent_Shuriken.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  height: 30px;
  width: 30px;
  -webkit-animation: rotation .5s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.mouse{
  position: absolute;
  background-color: blue;
}

body, html {
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/bb/67/ab/bb67ab2ab11dca2347fb27da0f335912.jpg');
  height: 100%;
  width: 100%;
  position: relative;
}

.scoreboard {
  background-color: #aaa;
  margin: auto;
  width: 700px;
}

.board {
  margin: auto;
  position: relative;
  background-color: #ecf0f1;
  width: 700px;
  height: 450px;
}

svg {
  margin: auto;
  position: relative;
  width: 700px;
  height: 450px;
}