/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body, html {
  background-color: red;
}

.scoreboard {
  background-color: blue;
}

.board {
  background-color: #ecf0f1;
  width: 700px;
  height: 450px;
}